.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top {
    background-color: rgb(103 8 255) !important;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top a {
    color: #fff;               
}

* {
    font-family: 'Fredoka One', cursive;
    color: #000;
}

small b {
    color: #000;
}

/* animated contact */
a.contact {
    box-shadow: 0 20px 50px rgb(52 56 67);
    position: absolute;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 15px 30px;
    font-size: 24px;
    letter-spacing: 2px;
    background-color: #3000a7;
    overflow: hidden;
}

.btn-outline-dark:hover, .btn-outline-dark:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #30005e;
    border-color: #8322c4;
}

a.contact:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255, 255, 255, 0.05);
}

a > span.indicator:nth-child(1) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #3f00ff, #a13aff);
    animation: animate1 2s linear infinite;
}

@keyframes animate1 {
    0% {
        transform: translateX(-100%)
    }
    100% {
        transform: translateX(100%)
    }
}

a > span.indicator:nth-child(2) {
    position: fixed;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to right,  #3f00ff, #a13aff);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate2 {
    0% {
        transform: translateY(-100%)
    }
    100% {
        transform: translateY(100%)
    }
}

a > span.indicator:nth-child(3) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right,  #a13aff, #3f00ff);
    animation: animate3 2s linear infinite;
}

@keyframes animate3 {
    0% {
        transform: translateX(100%)
    }
    100% {
        transform: translateX(-100%)
    }
}

a > span.indicator:nth-child(4) {
    position: fixed;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to right, #3f00ff, #a13aff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate4 {
    0% {
        transform: translateY(100%)
    }
    100% {
        transform: translateY(-100%)
    }
}

.test {
    position: absolute;
    top: 40%;
    left: 0;
    margin-top: -15%;
    width: 100%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators li {
    background-color: #000;
}